---
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";


---

<Layout title="Acerca de Calusajo" description="Conoce más sobre Calusajo, su historia y su misión.">
  
  <main >
    <About />
  </main>

</Layout>