---
import { events } from "../../events";
import Event from "../components/Event.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Todos los Eventos - Calusajo">
  <main class="p-4 md:p-8 mb-5">
    <div
      class="flex flex-col items-center content-center gap-6 lg:gap-10 max-w-screen-xl mx-auto lg:view"
    >
      <div>
        <h1 class="text-2xl lg:text-6xl text-center">
          Eventos que inspiran, <br />
          <span class="text-amber-400">Momentos que perduran</span>
        </h1>
      </div>
      <div class="flex flex-col items-center gap-4">
        <h2 class="font-bold text-xl lg:text-4xl">Portfolio</h2>
        <p>Descubre nuestra magia en cada evento</p>
      </div>

      <div class="hidden lg:flex flex-col w-full items-center">
        {
          events.map((event) => (
            <Event
              class="block-event pb-8"
              title={event.title}
              description={event.description}
              image={event.image}
              link={event.link}
            />
          ))
        }
      </div>

      <div
        class="flex flex-col sm:flex-row items-center justify-center pt-4 gap-2 text-center"
      >
        <p class="text-white font-bold">¿Tienes un evento planeado?</p>
        <button
          class="bg-amber-400 text-black font-extrabold px-4 py-2 rounded-lg hover:bg-amber-500 whitespace-nowrap hover:cursor-pointer"
        >
          Cotizalo ya aquí
        </button>
      </div>
    </div>
  </main>
</Layout>
