---
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import Events from '../sections/Events.astro';
import Home from '../sections/Home.astro';
import Services from '../sections/Services.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Calusajo Eventos y Decoraciones - Página Oficial' description='Bienvenido a la pagina oficial de Calusajo, un lugar para disfrutar de eventos y servicios de calidad.'>
	<main>
		<Home />

		<SectionContainer id='events'>
		<Events />
		</SectionContainer>

		<SectionContainer id='services'>
		<Services />
		</SectionContainer>
	</main>
</Layout>
