<section class="relative min-h-[50vh] flex justify-center items-center text-white bg-black/80 px-4 sm:px-6 overflow-hidden">
  <div class="absolute inset-0 -z-10">
    <img
      src="/bannerbg.webp"
      alt="Salón decorado"
      class="w-full h-full object-cover object-center opacity-60"
    />
  </div>

  <div class="z-10 flex items-center justify-center h-full px-4 m-4">
    <div class="max-w-2xl text-center sm:text-left text-white">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-extrabold mb-4">
        ¡Haz de tu evento <span class="text-[#E6D3B3]">un sueño!</span>
      </h1>
      <p class="text-base sm:text-lg md:text-base mb-6">
        Contáctanos hoy para obtener una cotización personalizada y transforma tu celebración en algo inolvidable.
      </p>
      <button class="bg-[#E6D3B3] hover:bg-[#d3bfa0] text-black font-semibold py-2 px-6 rounded transition duration-300">
        <a href="">Cotiza Ya!</a>
      </button>
    </div>
  </div>
</section>
