---
import Calendar from "../../Calendar.astro";

interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;
---

<article
  class="flex flex-col w-sm h-auto gap-y-10 rounded-lg shadow-2xl bg-transparent py-14 transition-transform duration-500 ease-in-out transform hover:scale-105 items-center border-[1px] border-black block-service"
>
  <picture class="w-auto h-auto text-amber-300">
    <Calendar />
  </picture>
  <div class="flex flex-col items-center gap-2 text-center">
    <h2 class="text-2xl font-bold text-white">{name}</h2>
    <p class="px-2 text-center text-sm">{description}</p>
  </div>
</article>

<style>
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .block-service {
    opacity: 0;
    transform: translateX(-20px);
  }

  .show {
    animation: appear 1s ease-out forwards;
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Reinicia la animación cada vez que entra
          entry.target.classList.remove("show");
          void (entry.target as HTMLElement).offsetWidth;
          entry.target.classList.add("show");
        } else {
          entry.target.classList.remove("show");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  document.querySelectorAll(".block-service").forEach((el) => {
    observer.observe(el);
  });
</script>
