---
import MobileMenuToggle from "../components/MobileMenuToggle.jsx";

function normalizePath(path) {
  if (path === "/") return "/";
  return path.replace(/\/$/, "");
}

// Detectar la ruta actual
const currentPath = normalizePath(Astro.url.pathname);
const isHome = currentPath === "/";
const isAboutUs = currentPath === "/aboutUs";
const isContact = currentPath === "/contact";
console.log(currentPath);
---
<header class="fixed top-0 left-0 w-full z-50 bg-transparent backdrop-blur-md" style="pointer-events: auto;">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

    <MobileMenuToggle client:load currentPath={currentPath}/>

    <div class="flex items-center gap-2">
      <a href="/"><img src="/logo_oficial.webp" alt="Logo Calusajo" class="h-16 md:h-20" /></a>
    </div>

    <nav class="hidden md:flex gap-8 text-white font-medium text-[20px]">
      <!-- Link a Inicio -->
      <a
        href="/"
        class={`hover:text-[#e8d7b9] ${isHome ? 'underline underline-offset-8 text-[#e8d7b9]' : ''}`}
      >
        Inicio
      </a>

      <!-- Solo mostrar en p치gina de inicio -->
      {isHome && (
        <>
          <a href="#events" class="hover:text-[#e8d7b9]">Eventos</a>
          <a href="#services" class="hover:text-[#e8d7b9]">Servicios</a>
        </>
      )}

      <!-- Link a Con칩cenos -->
      <a
        href="/aboutUs"
        class={`hover:text-[#e8d7b9] ${isAboutUs ? 'underline underline-offset-8 text-[#e8d7b9]' : ''}`}
      >
        Con칩cenos
      </a>
    </nav>

    <button class="bg-[#e8d7b9] hover:bg-[#d5c5a7] cursor-pointer text-black px-4 py-2 rounded-md font-semibold shadow">
      <a
        href="https://wa.me/+573104137728?text=Hola%2C%20soy%20(tu%20nombre)%2C%20vengo%20de%20la%20p%C3%A1gina%20Calusajo%2C%20quisiera%20cotizar%20un%20evento%20contigo%2C%20es%20el%20siguiente.%0AExplica%20tu%20evento%3A"
        target="_blank"
        class={`${isContact ? 'underline underline-offset-4 text-black' : ''}`}
      >
        Cont치ctanos
      </a>
    </button>
  </div>
</header>
