<section class=" text-white px-6 min-h-[85vh] flex items-center pt-24">
  <div class="max-w-6xl mx-auto flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left gap-10 w-full py-10">

    <!-- Texto -->
    <div class="flex-1 animate-fade-in">
      <h1 class="text-3xl font-bold mb-4 leading-tight">
        <span class="text-white block">Conócenos</span>
        <span class="text-[#F4D9A5] block">un poco</span>
        <span class="text-[#F4D9A5] block">más</span>
      </h1>

      <h3 class="text-lg font-semibold text-[#F4D9A5] mb-4">¿ Quienes somos ?</h3>

      <p class="mb-4 text-sm leading-relaxed">
        En Calusajo, llevamos más de 5 años creando momentos inolvidables desde nuestra pasión la decoración en tus eventos soñados. Nos enfocamos en los detalles, dedicados a transformar espacios y emociones en experiencias únicas que reflejen la esencia en cada celebración.
      </p>

      <p class="mb-4 text-sm leading-relaxed">
        Combinamos creatividad, compromiso, dedicación y profesionalismo para diseñar ambientes que cautivan, ya sea en bodas, XV años, cumpleaños, entre otras.
      </p>

      <p class="mb-6 text-sm leading-relaxed">
        No solo somos una marca de eventos, somos tu aliado para dar vida a tus sueños.
      </p>

      <button class="bg-[#F4D9A5] text-black font-semibold px-6 py-2 rounded hover:bg-[#e5c891] transition">
        <a href="https://wa.me/+573104137728?text=Hola%2C%20soy%20(tu%20nombre)%2C%20vengo%20de%20la%20p%C3%A1gina%20Calusajo%2C%20quisiera%20cotizar%20un%20evento%20contigo%2C%20es%20el%20siguiente.%0AExplica%20tu%20evento%3A"
        target="_blank">Crea tu evento ! </a>
      </button>
    </div>


    <div class="flex-1 w-full h-60 sm:h-72 lg:h-96 bg-gray-200 flex items-center justify-center animate-fade-in">
      <img src="/aboutUS.webp" alt="Foto del el equipo de Calusajo" class="w-full h-full object-cover object-center" />
    </div>

  </div>
</section>
<style>
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-220px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeInDown 500ms ease-out forwards ;
  }
</style>

