<section class="text-white py-20 px-6">
  <div class="max-w-6xl mx-auto">
    <h1 class="text-4xl sm:text-5xl font-bold text-center mb-16">
      <span class="text-white">NUESTROS</span> <span class="text-[#e8d7b9]">OBJETIVOS</span>
    </h1>

    <!-- Misión -->
    <div class="grid md:grid-cols-2 gap-12 items-center mb-16">
      <div class="space-y-6 order-1">
        <h3 class="text-2xl font-bold text-[#e8d7b9]">Misión</h3>
        <p class="text-gray-200 leading-relaxed">
          En Calusajo, nuestra misión es transformar los sueños de nuestros clientes en experiencias inolvidables, 
          diseñando eventos únicos y personalizados donde cada detalle refleja su esencia. Con más de cinco años de trayectoria, 
          trabajamos con pasión y compromiso para hacer realidad lo que cada persona imagina, 
          acompañándolos en cada paso para que su celebración sea tan única como ellos.
        </p>
      </div>
      <div class="order-2">
        <div class="bg-gray-200 rounded-md w-full aspect-square flex items-center justify-center overflow-hidden">
          <img src="/flores_desing.webp" alt="Imagen Misión" class="object-cover w-full h-full rounded-md" />
        </div>
      </div>
    </div>

    <!-- Visión -->
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <!-- Para que en mobile texto esté arriba -->
      <div class="space-y-6 order-1 md:order-2">
        <h3 class="text-2xl font-bold text-[#e8d7b9]">Visión</h3>
        <p class="text-gray-200 leading-relaxed">
          Nuestra visión es convertirnos en la empresa líder en organización de eventos temáticos y personalizados, 
          reconocida por su creatividad, profesionalismo y capacidad de hacer realidad los sueños de nuestros clientes.
        </p>
      </div>
      <div class="order-2 md:order-1">
        <div class="bg-gray-200 rounded-md w-full aspect-square flex items-center justify-center overflow-hidden">
          <img src="/flores2_desing.webp" alt="Imagen Visión" class="object-cover w-full h-full rounded-md" />
        </div>
      </div>
    </div>

  </div>
</section>
