---
import type {Testimonial} from "../types/testimonial";
import TestimonialS from "../components/TestimonialS.astro";

const testimonials: Testimonial[] = [
  {
    name: 'Fernanda',
    role: 'Cliente Satisfecha',
    content: 'Todo fue mágico y superó nuestras expectativas. El equipo de Johana fue excelente y profesional en cada detalle. Estoy eternamente agradecida. ¡Dios los bendiga siempre!',
    imageUrl: '/user1.png'
  },
  {
    name: 'Edwin',
    role: 'Cliente Satisfecho',
    content: 'Inmensamente agradecido por su trabajo. Aún siento nostalgia… esto sí fue un verdadero cuento de hadas. ¡Gracias, gracias! Que Dios los siga bendiciendo.',
    imageUrl: '/user2.png'
  },
  {
    name: 'Katherin',
    role: 'Cliente Satisfecha',
    content: 'Calusajo logró toda mis expectativas, estoy muy agradecida de ellos, busque en muchos lugares y no encontré un lugar tan hermoso como este. Tu equipo de trabajo fue espectacular, ¡Gracias por todo!',
    imageUrl: '/user3.png'
  }
];
---
 
 
 <section class="relative min-h-screen flex flex-col justify-center items-center text-white bg-black/80 pt-32 px-6 overflow-hidden">
  <div class="absolute inset-0 -z-10">
    <img
      src="/bgmain.webp"
      alt="Salón decorado"
      class="w-full h-full object-cover object-center opacity-60"
    />
  </div>

  <div class="relative z-10 max-w-4xl text-center lg:text-start mt-10 animate-fade-in">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold leading-tight">
      TRANSFORMAMOS TUS SUEÑOS,<br />
      <span class="text-[#e8d7b9]">EN EVENTOS INOLVIDABLES.</span>
    </h1>
    <p class="mt-4 text-gray-200">
      No te vendemos un servicio, te vendemos una experiencia. Deja todo en nuestras manos.
    </p>    
    <div class="mt-8 w-152px items-center flex flex-col md:flex-row justify-center md:justify-start gap-4">
      <button class="bg-[#e8d7b9] cursor-pointer hover:bg-[#d5c5a7] text-black px-6 py-3 rounded-md font-semibold shadow">
        <a href="/contact">Hablemos de tu evento soñado</a>
      </button>
      <button class="bg-transparent underline hover:border-[#e8d7b9] px-6 py-3 rounded-md font-semibold text-white hover:text-[#e8d7b9]">
        <a href="/aboutUs">Conócenos más</a>
      </button>
    </div>
  </div>



    <TestimonialS  testimonials={testimonials} />
</section>

<style>
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-220px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeInDown 500ms ease-out forwards ;
  }
</style>
