---
import "../styles/global.css";
import '@fontsource-variable/cinzel';
import '@fontsource/ubuntu';




interface Props {
	title: string;
}
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

	html{
		
	}
	body {
		color: #fff;
		margin: 0;
		width: 100%;
		height: 100%;
		background: #342F5A;

	}
	
</style>
