---
import "../styles/global.css";
import '@fontsource-variable/cinzel';
import '@fontsource/ubuntu';
import Header from "../components/Header.astro";
import Footer from "../sections/Footer.astro";
import { ClientRouter } from 'astro:transitions'
import WhatsAppButton from "../components/WhatsAppButton.astro";




interface Props {
	title: string;
	description: string;
}

const { title, description }  = Astro.props;
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="Astro, Layout, Example" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logowithout.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Header/>
		<slot />
		<WhatsAppButton />
		<Footer/>
	</body>
</html>

<style is:global>
	

	html{
		scroll-behavior: smooth;

	}

	button, a{
		@apply transition-transform duration-200 hover:scale-105;
		cursor: pointer;
	}
	
	body {
		color: #fff;
		margin: 0;
		width: 100%;
		height: 100%;
		background: #2D2656;
		font-family: 'Ubuntu', sans-serif;
	}
	h1{
		font-family: 'Cinzel Variable', serif;
	}
	@keyframes slideDown {
  	from {
    opacity: 0;
    transform: translateY(-100%);
  	}
  	to {
    opacity: 1;
    transform: translateY(0);
  	}
}

.animate-slide-down {
  animation: slideDown 300ms ease-out forwards;
}


	
</style>
